html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0%;
    color: rgb(202, 202, 202);
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgb(0, 0, 0) 100%);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/* nav bar */
.nav{
    /* sert à centrer le bandeau */
    display: flex;
    justify-content: center;
    align-items: center;
    /* sert à centrer le bandeau */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(58,141,180);
    background: linear-gradient(90deg, rgba(58,141,180,0.26420990759585083) 0%, rgb(0, 0, 0) 27%, rgba(123,69,252,1) 100%);
}
.nav li{
    float: left !important;
    
}
.nav li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important ;
  }
/*nav bar*/  

/*début du css pour la partie coordonées*/
.coordonées{
    padding: 4rem;
    margin: 3%;
    height: 40rem;
    border-radius: 20px;
    background-color: #240070;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.79' fill-rule='evenodd'/%3E%3C/svg%3E");    
}

.listeCoordonées{
    margin-left: 3rem;
}

.listeCoordonées a{
    text-decoration:none;
    color: white !important;

}