body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23030222' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23060444' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090766' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230c0988' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230F0BAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  
/* nav bar */
.nav{
/* sert à centrer le bandeau */
display: flex;
justify-content: center;
align-items: center;
/* sert à centrer le bandeau */
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background: rgb(0, 0, 0);
background: linear-gradient(90deg, rgba(83, 58, 183, 0.589) 0%, rgb(0, 0, 0) 27%, rgba(123,69,252,1) 100%);
}
.nav li{
float: left !important;
    
}
.nav li a {
display: block !important;
color: white !important;
text-align: center !important;
padding: 14px 16px !important;
text-decoration: none !important ;
}
/*nav bar*/

/* zoom image */
.view_image_body
{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    opacity: 0.8;
}

.view_image
{
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    position: fixed;
    cursor: zoom-out;
}

.view_image_img
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 95%;
    max-width: 95%;
    cursor: zoom-out;
}

/* zoom image */


/* titre */

.animated-link{
    padding: 2%;
    margin-left: 45%;
    display: inline-block;
    background: #000;
    border-radius:3px;
    text-decoration:none;
}

.animated-link span{
    display: inline-block;
    background:#0341b4;
    color:#333;
    border:1px solid#333;
    padding:18px;
    font-size:20px;
    font-weight:600;
    border-radius:3px;
    cursor:pointer;
    transition:
        transform 0.15s ease-out,
        color 0.15s ease-out,
        background-color 0.15s ease-out;
}

.animated-link:hover span{
    transform:translate(-4px,-4px);
    color:#000;
    background: #5f06f0;
}
               

/* titre */

.contenu{
    border: 2px solid rgb(25, 0, 255); 

    height: 500px; 
    border-radius: 10px;
    background-color: #00000098; 
    color: aliceblue;
    text-align: center;
    padding: 10%;
}
.image{
    border: 2px solid rgb(25, 0, 255); 


    border-radius: 10px;
    background-color: #00000098; 
    text-align: center;
    padding: 10%;

    cursor: zoom-in;
}